<table class="table table-bordered table-hover table-dark">
  <thead>
    <tr>
      <th>Resource</th>
      <th>Link</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks}}
      <tr>
        <td>{{title}}</td>
        <td><a href="{{description}}" target="_blank">{{description}}</a></td>
        <td>
          {{!-- {{#if done}}
            <a href="/tasks/{{_id}}/toggleDone" class="btn btn-dark">Undone</a>
          {{else}}
            <a href="/tasks/{{_id}}/toggleDone" class="btn btn-success">Done</a>
          {{/if}} --}}
          <div class="buttons">
            <a href="/tasks/{{_id}}/delete" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
          <a href="/tasks/{{_id}}/edit" class="btn btn-info"><i class="far fa-edit"></i></a>
          </div>
          
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>